@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.background-pattern {
  background-image: radial-gradient(circle at top, rgba(20, 184, 166, 0.15), transparent 80%);
}

/* Hide scrollbar globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}
